<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <pages validateRequest="false"/>
    <httpRuntime requestValidationMode="2.0"/>
    <customErrors mode="Off"/>
    <machineKey validationKey="D69B33E7B8A13E0E29DF602DAE71A1B9D32A900D683512FF569A3B20BC16CD53F250F438C84FCFF0938D86FAF1748FF2C9805C8D5F07016B47F97D970C9D5723" decryptionKey="1447C2C721DD0F40D8B0839B03A603F367DF113491A495D31F3317F304D57D81" validation="SHA1" decryption="AES"/>
    <compilation debug="true" targetFramework="4.8" tempDirectory="C:\Inetpub\vhosts\bondsadda.com\tmp">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  <runtime>
    <!-- Treat assemblies from network locations as fully trusted. -->
    <!-- Caution: Do not point this loaded gun at your foot. -->
    <loadFromRemoteSources enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept"/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <!--<add name="Access-Control-Allow-Headers" value="Content-Type, Access-Control-Allow-Headers, Origin, X-Auth-Token, X-Requested-With, Accept" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />-->
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
    <rewrite>
      <rules configSource="">
        <rule name="ContactRewrite" stopProcessing="true">
          <match url="^Contact$"/>
          <action type="Rewrite" url="/Contact.aspx"/>
        </rule>
        <rule name="IndexRewrite" stopProcessing="true">
          <match url="^Index$"/>
          <action type="Rewrite" url="/Index.aspx"/>
        </rule>
        <rule name="AboutRewrite" stopProcessing="true">
          <match url="^About$"/>
          <action type="Rewrite" url="/About.aspx"/>
        </rule>
        <rule name="SellBondsRewrite" stopProcessing="true">
          <match url="^SellBonds$"/>
          <action type="Rewrite" url="/SellBonds.aspx"/>
        </rule>
        <rule name="PartnerRewrite" stopProcessing="true">
          <match url="^Partner$"/>
          <action type="Rewrite" url="/Partner.aspx"/>
        </rule>
        <rule name="BlogNewsDataRewrite" stopProcessing="true">
          <match url="^BlogNewsData$"/>
          <action type="Rewrite" url="/BlogNewsData.aspx"/>
        </rule>
        <rule name="BlogNewsDetailsRewrite" stopProcessing="true">
          <match url="^BlogNewsDetails$"/>
          <action type="Rewrite" url="/BlogNewsDetails.aspx"/>
        </rule>
        <rule name="BankDetailsRewrite" stopProcessing="true">
          <match url="^BankDetails$"/>
          <action type="Rewrite" url="/BankDetails.aspx"/>
        </rule>
        <rule name="CashFlowRewrite" stopProcessing="true">
          <match url="^CashFlow$"/>
          <action type="Rewrite" url="/CashFlow.aspx"/>
        </rule>
        <rule name="ChangePasswordRewrite" stopProcessing="true">
          <match url="^ChangePassword$"/>
          <action type="Rewrite" url="/ChangePassword.aspx"/>
        </rule>
        <rule name="CustomerKYCDetailsRewrite" stopProcessing="true">
          <match url="^CustomerKYCDetails$"/>
          <action type="Rewrite" url="/CustomerKYCDetails.aspx"/>
        </rule>
        <rule name="FAQRewrite" stopProcessing="true">
          <match url="^FAQ$"/>
          <action type="Rewrite" url="/FAQ.aspx"/>
        </rule>
        <rule name="ForgetPasswordRewrite" stopProcessing="true">
          <match url="^ForgetPassword$"/>
          <action type="Rewrite" url="/ForgetPassword.aspx"/>
        </rule>
        <rule name="IDProofDetailsRewrite" stopProcessing="true">
          <match url="^IDProofDetails$"/>
          <action type="Rewrite" url="/IDProofDetails.aspx"/>
        </rule>
        <rule name="OurCollectionsRewrite" stopProcessing="true">
          <match url="^OurCollections$"/>
          <action type="Rewrite" url="/OurCollections.aspx"/>
        </rule>
        <rule name="PrivacyPolicyRewrite" stopProcessing="true">
          <match url="^PrivacyPolicy$"/>
          <action type="Rewrite" url="/PrivacyPolicy.aspx"/>
        </rule>
        <rule name="RequirementRewrite" stopProcessing="true">
          <match url="^Requirement$"/>
          <action type="Rewrite" url="/Requirement.aspx"/>
        </rule>
        <rule name="signinRewrite" stopProcessing="true">
          <match url="^signin$"/>
          <action type="Rewrite" url="/signin.aspx"/>
        </rule>
        <rule name="SignupRewrite" stopProcessing="true">
          <match url="^Signup$"/>
          <action type="Rewrite" url="/Signup.aspx"/>
        </rule>
        <rule name="TermsAndConditionRewrite" stopProcessing="true">
          <match url="^TermsAndCondition$"/>
          <action type="Rewrite" url="/TermsAndCondition.aspx"/>
        </rule>
        <rule name="AdminLoginRewrite" stopProcessing="true">
          <match url="^AdminLogin$"/>
          <action type="Rewrite" url="/AdminLogin.aspx"/>
        </rule>
        <rule name="MaturityTypeProductsRewrite" stopProcessing="true">
          <match url="^MaturityTypeProducts$"/>
          <action type="Rewrite" url="/MaturityTypeProducts.aspx"/>
        </rule>
        <rule name="CodeOfConductRewrite" stopProcessing="true">
          <match url="^CodeOfConduct$"/>
          <action type="Rewrite" url="/CodeOfConduct.aspx"/>
        </rule>
        <rule name="EnquiryFormRewrite" stopProcessing="true">
          <match url="^EnquiryForm$"/>
          <action type="Rewrite" url="/EnquiryForm.aspx"/>
        </rule>
        <rule name="CashFlow?oId=Rewrite" stopProcessing="true">
          <match url="^CashFlow o I d =$"/>
          <action type="Rewrite" url="/CashFlow?oId="/>
        </rule>
        <rule name="PrintDealConfirmationRewrite" stopProcessing="true">
          <match url="PrintDealConfirmation$"/>
          <action type="Rewrite" url="/PrintDealConfirmation.aspx"/>
        </rule>
        <rule name="Pan_Kra_VerificationRewrite" stopProcessing="true">
          <match url="Pan_Kra_Verification"/>
          <action type="Rewrite" url="/Pan_Kra_Verification.aspx"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <add key="ApiBaseUrl" value="https://appdemo.bseindia.com/ICDMAPI/ICDMService.svc/"/>
  </appSettings>
</configuration>