body {
    font-size: 14px;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    max-width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden; /* Prevent scrolling */
    margin: auto;
}

/* Header Styling */
h4 {
    text-align: center;
    margin-bottom: 30px;
    color: #085D94;
    font-weight: bold;
}

/* Error Message */
.error-message {
    text-align: center;
    margin-bottom: 10px;
    color: #F57C00;
    font-weight: 600;
}

.card-gold {
    border: 1px solid #F57C00;
    box-shadow: 0 2px 10px rgba(8, 93, 148, 0.2);
    border-radius: 12px;
    background-color: #ffffff;
}

    .card-gold .card-header {
        background: linear-gradient(90deg, #F57C00 0%, #085D94 100%);
        color: #fff;
        border-bottom: 1px solid #ffcc80;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        font-weight: 600;
        font-size: 16px;
    }

    .card-gold .form-label {
        color: #085D94;
        font-weight: 600;
    }

.form-control-sm:focus {
    border-color: #F57C00;
    box-shadow: 0 0 0 0.2rem rgba(245, 124, 0, 0.25);
}

.sizelogo {
    width: 250px;
}

.btn {
    background-color:linear-gradient(90deg, #085D94 0%, #F57C00 100%);
    color: white;
    border: none;
    transition: all 0.3s ease-in-out;
}

    .btn:hover {
        background-color: #F57C00;
        color: white;
        transform: scale(1.03);
    }
.btn {
    background: linear-gradient(90deg, #F57C00 0%, #085D94 100%);
    
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}